<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="rubyversions.com">
<meta property="twitter:url" content="{{ site.url }}{{ page.id }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<!-- TODO: image for twitter preview card -->
<!--
<meta name="twitter:image" content="
  {%- if page.id %}
    {{ site.assets }}/images/{{ page.id | split: '/' | last}}.jpg?v={{ site.time | date: '%s' }}
  {%- else %}
    {{ site.url }}/images/meta.png?v={{ site.time | date: '%s' }}
  {%- endif %}
">
-->
