<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>

  <!-- auto-switch bootstrap between light and dark mode -->
  <script>
    // set theme to the viewer’s preferred color scheme
    function updateTheme() {
      const colorMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
      document.querySelector("html").setAttribute("data-bs-theme", colorMode);
    }

    // set theme on load
    updateTheme()

    // update theme when the preferred scheme changes
    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", updateTheme)
  </script>

  {% include bootstrap.html %}
</head>

<body>
  {% include header.html %}

  <main class="container-fluid my-5">
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>
