<div class="text-danger">
  <h1 class="fw-bold my-0 py-0" style="font-size: 1000%">404</h1>

  <p class="h2">
    <span class="fw-bold">Page not found 😭</span>
    <span class="my-0 py-0 text-danger fw-light">OH NOES!</span>
  </p>

  <p class="col-md-6">
    So sorry.
    If you think this is a mistake,
    please send a bug report with the URL you’re currently on and what you clicked on to get here.
    Thanks!
  </p>
</div>
