<footer class="container-fluid my-5">
  <ul class="list-unstyled">
    <li><%= link_to "GitHub", "https://github.com/rubyversions/rubyversions.com", target: "_blank" %></li>
    <li><%= mail_to  "veganstraightedge+rubyversions@gmail.com", "Email" %></li>
  </ul>
</footer>
