<footer class="container-fluid my-5">
  <ul class="list-unstyled">
    <li><a href="mailto:veganstraightedge+rubyversions@gmail.com">Email</a></li>
    <li><a href="https://github.com/rubyversions" target="_blank">GitHub</a></li>
  </ul>
</footer>
